In [88]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import PolynomialFeatures
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import ElasticNet
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import mean_absolute_error,mean_squared_error

In [89]:
data = pd.read_csv("C:/Users/Dareen/OneDrive/Desktop/house price predection/archive (19)/AmesHousing.csv")
data.head()

,Order,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,Sale Condition,SalePrice
0,1,526301100,20,RL,141.0,31770,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,NaN,0,5,2010,WD,Normal,215000
1,2,526350040,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,...,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal,105000
2,3,526351010,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal,172000
3,4,526353030,20,RL,93.0,11160,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,244000
4,5,527105010,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,...,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal,189900

In [90]:
data.tail()

,Order,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,Sale Condition,SalePrice
2925,2926,923275080,80,RL,37.0,7937,Pave,NaN,IR1,Lvl,...,0,NaN,GdPrv,NaN,0,3,2006,WD,Normal,142500
2926,2927,923276100,20,RL,NaN,8885,Pave,NaN,IR1,Low,...,0,NaN,MnPrv,NaN,0,6,2006,WD,Normal,131000
2927,2928,923400125,85,RL,62.0,10441,Pave,NaN,Reg,Lvl,...,0,NaN,MnPrv,Shed,700,7,2006,WD,Normal,132000
2928,2929,924100070,20,RL,77.0,10010,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,4,2006,WD,Normal,170000
2929,2930,924151050,60,RL,74.0,9627,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,11,2006,WD,Normal,188000

In [91]:
data.dtypes[data.dtypes == 'object']

MS Zoning         object
Street            object
Alley             object
Lot Shape         object
Land Contour      object
Utilities         object
Lot Config        object
Land Slope        object
Neighborhood      object
Condition 1       object
Condition 2       object
Bldg Type         object
House Style       object
Roof Style        object
Roof Matl         object
Exterior 1st      object
Exterior 2nd      object
Mas Vnr Type      object
Exter Qual        object
Exter Cond        object
Foundation        object
Bsmt Qual         object
Bsmt Cond         object
Bsmt Exposure     object
BsmtFin Type 1    object
BsmtFin Type 2    object
Heating           object
Heating QC        object
Central Air       object
Electrical        object
Kitchen Qual      object
Functional        object
Fireplace Qu      object
Garage Type       object
Garage Finish     object
Garage Qual       object
Garage Cond       object
Paved Drive       object
Pool QC           object
Fence             object
Misc Feature      object
Sale Type         object
Sale Condition    object
dtype: object

In [92]:
data.dtypes[data.dtypes != 'object']

Order                int64
PID                  int64
MS SubClass          int64
Lot Frontage       float64
Lot Area             int64
Overall Qual         int64
Overall Cond         int64
Year Built           int64
Year Remod/Add       int64
Mas Vnr Area       float64
BsmtFin SF 1       float64
BsmtFin SF 2       float64
Bsmt Unf SF        float64
Total Bsmt SF      float64
1st Flr SF           int64
2nd Flr SF           int64
Low Qual Fin SF      int64
Gr Liv Area          int64
Bsmt Full Bath     float64
Bsmt Half Bath     float64
Full Bath            int64
Half Bath            int64
Bedroom AbvGr        int64
Kitchen AbvGr        int64
TotRms AbvGrd        int64
Fireplaces           int64
Garage Yr Blt      float64
Garage Cars        float64
Garage Area        float64
Wood Deck SF         int64
Open Porch SF        int64
Enclosed Porch       int64
3Ssn Porch           int64
Screen Porch         int64
Pool Area            int64
Misc Val             int64
Mo Sold              int64
Yr Sold              int64
SalePrice            int64
dtype: object

In [93]:
df_encoded = pd.get_dummies(data, columns=['MS Zoning' ,'Street','Alley','Lot Shape','Land Contour','Utilities','Lot Config','Land Slope' ,'Neighborhood','Condition 1','Condition 2'
                                           ,'Bldg Type','House Style','Roof Style','Roof Matl','Exterior 1st','Exterior 2nd','Mas Vnr Type','Exter Qual','Exter Cond'
                                           ,'Foundation','Bsmt Qual','Bsmt Cond','Bsmt Exposure','BsmtFin Type 1','BsmtFin Type 2','Heating','Heating QC','Central Air',
                                           'Electrical','Kitchen Qual','Functional','Fireplace Qu','Garage Type','Garage Finish'
                                           ,'Garage Qual','Garage Cond','Paved Drive','Pool QC','Fence','Misc Feature',
                                           'Sale Type','Sale Condition'], drop_first=True)
df_encoded

,Order,PID,MS SubClass,Lot Frontage,Lot Area,Overall Qual,Overall Cond,Year Built,Year Remod/Add,Mas Vnr Area,...,Sale Type_ConLw,Sale Type_New,Sale Type_Oth,Sale Type_VWD,Sale Type_WD,Sale Condition_AdjLand,Sale Condition_Alloca,Sale Condition_Family,Sale Condition_Normal,Sale Condition_Partial
0,1,526301100,20,141.0,31770,6,5,1960,1960,112.0,...,False,False,False,False,True,False,False,False,True,False
1,2,526350040,20,80.0,11622,5,6,1961,1961,0.0,...,False,False,False,False,True,False,False,False,True,False
2,3,526351010,20,81.0,14267,6,6,1958,1958,108.0,...,False,False,False,False,True,False,False,False,True,False
3,4,526353030,20,93.0,11160,7,5,1968,1968,0.0,...,False,False,False,False,True,False,False,False,True,False
4,5,527105010,60,74.0,13830,5,5,1997,1998,0.0,...,False,False,False,False,True,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2925,2926,923275080,80,37.0,7937,6,6,1984,1984,0.0,...,False,False,False,False,True,False,False,False,True,False
2926,2927,923276100,20,NaN,8885,5,5,1983,1983,0.0,...,False,False,False,False,True,False,False,False,True,False
2927,2928,923400125,85,62.0,10441,5,5,1992,1992,0.0,...,False,False,False,False,True,False,False,False,True,False
2928,2929,924100070,20,77.0,10010,5,5,1974,1975,0.0,...,False,False,False,False,True,False,False,False,True,False
2929,2930,924151050,60,74.0,9627,7,5,1993,1994,94.0,...,False,False,False,False,True,False,False,False,True,False

In [94]:
print(df_encoded.corr()["SalePrice"].abs().sort_values(ascending=False))

SalePrice           1.000000
Overall Qual        0.799262
Gr Liv Area         0.706780
Garage Cars         0.647877
Garage Area         0.640401
                      ...
Condition 2_RRAe    0.002129
Condition 1_RRAn    0.001018
Sale Type_ConLI     0.000480
Roof Matl_Metal     0.000184
Foundation_Wood     0.000054
Name: SalePrice, Length: 263, dtype: float64

In [95]:
df_encoded=df_encoded.drop(['Foundation_Wood','Roof Matl_Metal','Sale Type_ConLI','Condition 1_RRAn','Condition 2_RRAe','Condition 2_RRAe',
                            'BsmtFin SF 2','Roof Matl_Tar&Grv','House Style_2.5Unf','Pool QC_TA','Sale Type_CWD' 
                            ],axis=1)

In [96]:
print(df_encoded.corr()["SalePrice"].abs().sort_values(ascending=False))

SalePrice               1.000000
Overall Qual            0.799262
Gr Liv Area             0.706780
Garage Cars             0.647877
Garage Area             0.640401
                          ...
Utilities_NoSeWa        0.010016
Neighborhood_SawyerW    0.008653
Neighborhood_Greens     0.008343
Alley_Pave              0.007973
Roof Style_Shed         0.006421
Name: SalePrice, Length: 253, dtype: float64

In [97]:
df_encoded=df_encoded.drop(['Utilities_NoSeWa','Neighborhood_SawyerW','Neighborhood_Greens','Alley_Pave','Roof Style_Shed'
                            ,'Roof Style_Mansard','Condition 2_RRAn','Neighborhood_Landmrk','Sale Type_VWD','Roof Matl_Roll'
                            ,'Lot Config_FR3','Garage Cond_Gd','Exterior 2nd_BrkFace' ,'Misc Feature_Othr','Pool QC_Fa'],axis=1)

In [98]:
print(df_encoded.corr()["SalePrice"].abs().sort_values(ascending=False))

SalePrice               1.000000
Overall Qual            0.799262
Gr Liv Area             0.706780
Garage Cars             0.647877
Garage Area             0.640401
                          ...
Misc Val                0.015691
Exterior 1st_BrkFace    0.015437
Lot Config_FR2          0.014441
Condition 1_RRNn        0.014060
Roof Matl_Membran       0.014043
Name: SalePrice, Length: 238, dtype: float64

In [100]:
print(df_encoded.dtypes)

Order                       int64
PID                         int64
MS SubClass                 int64
Lot Frontage              float64
Lot Area                    int64
                           ...
Sale Condition_AdjLand       bool
Sale Condition_Alloca        bool
Sale Condition_Family        bool
Sale Condition_Normal        bool
Sale Condition_Partial       bool
Length: 238, dtype: object

In [101]:
df_encoded = df_encoded.apply(pd.to_numeric, errors='coerce')

In [102]:
df_encoded.fillna(0, inplace=True)

In [103]:
print(df_encoded.isna().sum())

Order                     0
PID                       0
MS SubClass               0
Lot Frontage              0
Lot Area                  0
                         ..
Sale Condition_AdjLand    0
Sale Condition_Alloca     0
Sale Condition_Family     0
Sale Condition_Normal     0
Sale Condition_Partial    0
Length: 238, dtype: int64

In [105]:
df_encoded.fillna(0, inplace=True)
df_encoded.dropna(inplace=True)

In [109]:
x=df_encoded.drop(['SalePrice'],axis=1)
y=df_encoded['SalePrice']

In [110]:
y

0       215000
1       105000
2       172000
3       244000
4       189900
         ...
2925    142500
2926    131000
2927    132000
2928    170000
2929    188000
Name: SalePrice, Length: 2930, dtype: int64

In [111]:
x

,Order,PID,MS SubClass,Lot Frontage,Lot Area,Overall Qual,Overall Cond,Year Built,Year Remod/Add,Mas Vnr Area,...,Sale Type_ConLD,Sale Type_ConLw,Sale Type_New,Sale Type_Oth,Sale Type_WD,Sale Condition_AdjLand,Sale Condition_Alloca,Sale Condition_Family,Sale Condition_Normal,Sale Condition_Partial
0,1,526301100,20,141.0,31770,6,5,1960,1960,112.0,...,False,False,False,False,True,False,False,False,True,False
1,2,526350040,20,80.0,11622,5,6,1961,1961,0.0,...,False,False,False,False,True,False,False,False,True,False
2,3,526351010,20,81.0,14267,6,6,1958,1958,108.0,...,False,False,False,False,True,False,False,False,True,False
3,4,526353030,20,93.0,11160,7,5,1968,1968,0.0,...,False,False,False,False,True,False,False,False,True,False
4,5,527105010,60,74.0,13830,5,5,1997,1998,0.0,...,False,False,False,False,True,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2925,2926,923275080,80,37.0,7937,6,6,1984,1984,0.0,...,False,False,False,False,True,False,False,False,True,False
2926,2927,923276100,20,0.0,8885,5,5,1983,1983,0.0,...,False,False,False,False,True,False,False,False,True,False
2927,2928,923400125,85,62.0,10441,5,5,1992,1992,0.0,...,False,False,False,False,True,False,False,False,True,False
2928,2929,924100070,20,77.0,10010,5,5,1974,1975,0.0,...,False,False,False,False,True,False,False,False,True,False
2929,2930,924151050,60,74.0,9627,7,5,1993,1994,94.0,...,False,False,False,False,True,False,False,False,True,False

In [112]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=45)

In [113]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()
lr.fit(x_train,y_train)

LinearRegression()

In [119]:
y_predict=lr.predict(x_test)

In [121]:
from sklearn.metrics import r2_score
r2 = r2_score(y_test, y_predict)
print(f'R-squared: {r2:.2f}')

R-squared: 0.82